<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Retake Exam January 2019</title>
    <link href="../static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Video Tutorials</a>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                {{#if loggedIn}}
                <li class="nav-item">
                    <a class="nav-link">Welcome, {{username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {{/if}}

            </ul>
        </nav>

        <main>
            <div class="container">
                <h1 class="my-4">Course title : ExpressJS
                </h1>

                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid"
                            src="{{imgURL}}"
                            alt="Express" />
                    </div>

                    <div class="col-md-4 text-center">
                        <h3 class="my-3">Course Description</h3>
                        <p>ExpressJS is ...</p>
                        {{#if areCreator}}
                            <a class="btn btn-danger" href="/course/delete/{{id}}">Delete</a>
                            <a class="btn btn-warning" href="/course/edit/{{id}}">Edit</a>
                        {{else}}
                            {{#if alreadyEnrolled}}
                                <span class="enrolled-span">You are already enrolled</span>
                            {{else}}
                                <a class="btn btn-primary" href="/course/enroll/{{id}}">Enroll</a>
                            {{/if}}
                        {{/if}}

                        
                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2019
                <a href="/">Express Fundamentals</a>
            </div>
        </footer>

    </div>
</body>

</html>